<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <h1 class="title">Title</h1>
</header>

<div class="content">
  {{outlet}}
</div>  

<nav class="bar bar-tab">
  {{#link-to 'index' class='tab-item'}}<span class="icon icon-home"></span><span class="tab-label">Home</span>{{/link-to}}
  {{#link-to 'users' class='tab-item'}}<span class="icon icon-person"></span><span class="tab-label">Users</span>{{/link-to}}
  {{#link-to 'museums' class='tab-item'}}<span class="icon icon-gear"></span><span class="tab-label">Museums</span>{{/link-to}}  
</nav>